openapi: 3.1.0
info:
  title: OneSchema AWS Secrets Manager AWS Secrets Manager Accounts Importer Embed Events API
  version: '1'
  description: Configure AWS Secrets Manager account connections and managed secret references for use in Multi FileFeeds.
  contact:
    name: OneSchema Support
    email: support@oneschema.co
  termsOfService: https://www.oneschema.co/terms-and-conditions
  license:
    name: proprietary
    url: https://www.oneschema.co/terms-and-conditions
servers:
- url: https://api.oneschema.co
  description: Production server (hosted in the US)
- url: https://api.eu.oneschema.co
  description: Production server (hosted in the EU)
- url: https://api.ca.oneschema.co
  description: Production server (hosted in Canada)
- url: https://api.au.oneschema.co
  description: Production server (hosted in Australia)
security:
- ApiKeyAuth: []
tags:
- name: Importer Embed Events
  description: Importer Embed Event operations
paths:
  /v1/embeds/{embed_id}/events/{embed_event_id}/file-url:
    get:
      operationId: get-embed-event-file-url
      summary: Get file URL for an embed event
      description: Retrieve a pre-signed URL for the specified embed event file.
      parameters:
      - $ref: '#/components/parameters/EmbedIdPath'
      - $ref: '#/components/parameters/EmbedEventPath'
      - name: file_format
        in: query
        required: true
        schema:
          type: string
          enum:
          - parquet
        explode: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUrlResponse'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-response'
      tags:
      - Importer Embed Events
  /v1/embeds/{embed_id}/events/{embed_event_id}:
    get:
      operationId: get-embed-event
      summary: Get an embed event
      description: Retrieve a single event that occurred for an embed.
      parameters:
      - $ref: '#/components/parameters/EmbedIdPath'
      - $ref: '#/components/parameters/EmbedEventPath'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedEventResource'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-response'
      tags:
      - Importer Embed Events
  /v1/embeds/{embed_id}/events:
    get:
      operationId: get-embed-events
      summary: List events for an embed
      description: Returns a list of events that occurred for the specified embed session.
      parameters:
      - $ref: '#/components/parameters/EmbedIdPath'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmbedEventResource'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-response'
      tags:
      - Importer Embed Events
components:
  schemas:
    FileUrlResponse:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          description: pre-signed url linking to the formatted embed event snapshot data
    EmbedEventResource:
      type: object
      required:
      - uuid
      - event_type
      - trigger_type
      - created_at
      - has_snapshot
      - id
      properties:
        uuid:
          type: string
          description: embed event uuid, eg "uuid":"event-ddbb6677-460c-4eb5-b279-c7fd3f964dcf"
        event_type:
          type: string
          enum:
          - embed_initialized
          - embed_resumed
          - embed_closed
          - file_uploaded
          - header_selected
          - columns_mapped
          - sheet_operation_performed
          - import_submitted
          description: eg "event_type":"columns_mapped"
        trigger_type:
          type: string
          enum:
          - user
          - api
          - automation
          description: what kind of process triggered the event
        data:
          allOf:
          - $ref: '#/components/schemas/empty-response'
          description: 'additional information, eg: "data":{"validation_error_counts":{"item":{"PICKLIST":1},"some_column":{"MISSING":1}}}'
        created_at:
          type: number
          format: double
          description: embed event timestamp as epoch seconds, eg created_at":1762463783.125189
        has_snapshot:
          type: boolean
          description: 'whether snapshot data are available for this event, eg: "has_snapshot":true'
          default: false
        id:
          type: integer
          description: 'embed event id, eg: "id":417836'
    empty-response:
      type: object
      properties: {}
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
