openapi: 3.1.0
info:
  title: OneSchema Templates API
  version: '1'
  description: Create, read, update, export, delete, and push OneSchema Templates (output schema + validation
    rules) across environments.
  contact:
    name: OneSchema Support
    email: support@oneschema.co
  termsOfService: https://www.oneschema.co/terms-and-conditions
  license:
    name: proprietary
    url: https://www.oneschema.co/terms-and-conditions
servers:
- url: https://api.oneschema.co
  description: Production server (hosted in the US)
- url: https://api.eu.oneschema.co
  description: Production server (hosted in the EU)
- url: https://api.ca.oneschema.co
  description: Production server (hosted in Canada)
- url: https://api.au.oneschema.co
  description: Production server (hosted in Australia)
security:
- ApiKeyAuth: []
tags:
- name: Template Hooks
  description: Template Hooks operations
- name: Templates
  description: Template operations
paths:
  /v1/template-hooks:
    post:
      operationId: create-template-hook
      summary: Create a new template hook
      description: Create a new template hook.
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHook'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Template Hooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateHook'
            examples:
              jsonToCsvExample:
                summary: jsonToCsvExample
                value:
                  key: json_to_csv
                  stage: preparsing
                  type: json-to-csv
                  params:
                    fileExts:
                    - json
                    entryPath:
                    - path/to/entry
              xmlToCsvExample:
                summary: xmlToCsvExample
                value:
                  key: xml_to_csv
                  stage: preparsing
                  type: xml-to-csv
                  params:
                    fileExts:
                    - xml
                    entryPath:
                    - path/to/xml
              fixedWidthToCsvExample:
                summary: fixedWidthToCsvExample
                value:
                  key: fixed_width_to_csv
                  stage: preparsing
                  type: fixed-width-to-csv
                  params:
                    fileExts:
                    - txt
                    columns:
                    - label: Column1
                      start: 0
                      width: 10
                    - label: Column2
                      start: 10
                      width: 15
              advancedExcelParsingExample:
                summary: advancedExcelParsingExample
                value:
                  key: advanced_excel_parsing
                  stage: preparsing
                  type: advanced-excel-parsing
                  params:
                    fileExts:
                    - xlsx
                    ignoreScientificNotation: true
                    extractHyperlinks: false
              postuploadCodeHookExample:
                summary: postuploadCodeHookExample
                value:
                  key: postupload_code_hook
                  stage: postupload
                  type: code-postupload
                  params:
                    code: function example() { return true; }
              transposeFileExample:
                summary: transposeFileExample
                value:
                  key: transpose_file
                  stage: postupload
                  type: transpose-file
                  params: {}
              findAndReplaceExample:
                summary: findAndReplaceExample
                value:
                  key: find_and_replace
                  stage: postmapping
                  type: find-replace
                  params:
                    columns:
                    - name
                    find: old
                    caseSensitive: false
                    exactMatch: true
                    replace: new
              splitColumnExample:
                summary: splitColumnExample
                value:
                  key: split_column
                  stage: postmapping
                  type: split-column
                  params:
                    sourceColumn: fullName
                    delimiter: ' '
                    targetColumns:
                    - firstName
                    - lastName
              mergeColumnsExample:
                summary: mergeColumnsExample
                value:
                  key: merge_columns
                  stage: postmapping
                  type: merge-column
                  params:
                    sourceColumns:
                    - firstName
                    - lastName
                    targetColumn: fullName
                    delimiter: ' '
              fillEmptyExample:
                summary: fillEmptyExample
                value:
                  key: fill_empty
                  stage: postmapping
                  type: fill-empty
                  params:
                    targetColumn: address
                    sourceColumn: defaultAddress
              addColumnExample:
                summary: addColumnExample
                value:
                  key: add_column
                  stage: postmapping
                  type: add-column
                  params:
                    column: newColumn
              codePostMappingExample:
                summary: codePostMappingExample
                value:
                  key: code_post_mapping
                  stage: postmapping
                  type: code-postmapping
                  params:
                    idempotent: true
                    code: function map() { return true; }
              validationCodeHookExample:
                summary: validationCodeHookExample
                value:
                  key: validation_code_hook
                  stage: validation
                  type: code-validation
                  params:
                    columns:
                    - email
                    validationType: row
                    code: function validate() { return true; }
              multiColumnUniquenessExample:
                summary: multiColumnUniquenessExample
                value:
                  key: multi_column_uniqueness
                  stage: validation
                  type: multicolumn-uniqueness
                  params:
                    columns:
                    - email
                    - username
              rowUniquenessExample:
                summary: rowUniquenessExample
                value:
                  key: row_uniqueness
                  stage: validation
                  type: row-uniqueness
                  params:
                    caseSensitive: true
        description: Template hook configuration.
    get:
      operationId: get-template-hooks
      summary: List template hooks
      description: Returns a list of template hooks for the organization. Supports pagination via `offset`
        and `count` parameters.
      parameters:
      - name: offset
        in: query
        required: false
        description: The number of items to skip before starting to collect the result set
        schema:
          type: integer
          minimum: 0
          default: 0
        explode: false
      - name: count
        in: query
        required: false
        description: The numbers of items to return
        schema:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
        explode: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHooksListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Template Hooks
  /v1/template-hooks/{key}:
    delete:
      operationId: delete-template-hook
      summary: Delete a template hook
      description: Delete a template hook. A template hook attached to a template cannot be deleted.
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Template Hooks
    get:
      operationId: get-template-hook
      summary: Get a template hook
      description: Get a template hook.
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHook'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Template Hooks
    put:
      operationId: update-template-hook
      summary: Update an existing template hook
      description: Update an existing template hook. Note that updates to template hooks are live instantly.
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHook'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Template Hooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateHook'
            examples:
              jsonToCsvExample:
                summary: jsonToCsvExample
                value:
                  key: json_to_csv
                  stage: preparsing
                  type: json-to-csv
                  params:
                    fileExts:
                    - json
                    entryPath:
                    - path/to/entry
              xmlToCsvExample:
                summary: xmlToCsvExample
                value:
                  key: xml_to_csv
                  stage: preparsing
                  type: xml-to-csv
                  params:
                    fileExts:
                    - xml
                    entryPath:
                    - path/to/xml
              fixedWidthToCsvExample:
                summary: fixedWidthToCsvExample
                value:
                  key: fixed_width_to_csv
                  stage: preparsing
                  type: fixed-width-to-csv
                  params:
                    fileExts:
                    - txt
                    columns:
                    - label: Column1
                      start: 0
                      width: 10
                    - label: Column2
                      start: 10
                      width: 15
              advancedExcelParsingExample:
                summary: advancedExcelParsingExample
                value:
                  key: advanced_excel_parsing
                  stage: preparsing
                  type: advanced-excel-parsing
                  params:
                    fileExts:
                    - xlsx
                    ignoreScientificNotation: true
                    extractHyperlinks: false
              postuploadCodeHookExample:
                summary: postuploadCodeHookExample
                value:
                  key: postupload_code_hook
                  stage: postupload
                  type: code-postupload
                  params:
                    code: function example() { return true; }
              transposeFileExample:
                summary: transposeFileExample
                value:
                  key: transpose_file
                  stage: postupload
                  type: transpose-file
                  params: {}
              findAndReplaceExample:
                summary: findAndReplaceExample
                value:
                  key: find_and_replace
                  stage: postmapping
                  type: find-replace
                  params:
                    columns:
                    - name
                    find: old
                    caseSensitive: false
                    exactMatch: true
                    replace: new
              splitColumnExample:
                summary: splitColumnExample
                value:
                  key: split_column
                  stage: postmapping
                  type: split-column
                  params:
                    sourceColumn: fullName
                    delimiter: ' '
                    targetColumns:
                    - firstName
                    - lastName
              mergeColumnsExample:
                summary: mergeColumnsExample
                value:
                  key: merge_columns
                  stage: postmapping
                  type: merge-column
                  params:
                    sourceColumns:
                    - firstName
                    - lastName
                    targetColumn: fullName
                    delimiter: ' '
              fillEmptyExample:
                summary: fillEmptyExample
                value:
                  key: fill_empty
                  stage: postmapping
                  type: fill-empty
                  params:
                    targetColumn: address
                    sourceColumn: defaultAddress
              addColumnExample:
                summary: addColumnExample
                value:
                  key: add_column
                  stage: postmapping
                  type: add-column
                  params:
                    column: newColumn
              codePostMappingExample:
                summary: codePostMappingExample
                value:
                  key: code_post_mapping
                  stage: postmapping
                  type: code-postmapping
                  params:
                    idempotent: true
                    code: function map() { return true; }
              validationCodeHookExample:
                summary: validationCodeHookExample
                value:
                  key: validation_code_hook
                  stage: validation
                  type: code-validation
                  params:
                    columns:
                    - email
                    validationType: row
                    code: function validate() { return true; }
              multiColumnUniquenessExample:
                summary: multiColumnUniquenessExample
                value:
                  key: multi_column_uniqueness
                  stage: validation
                  type: multicolumn-uniqueness
                  params:
                    columns:
                    - email
                    - username
              rowUniquenessExample:
                summary: rowUniquenessExample
                value:
                  key: row_uniqueness
                  stage: validation
                  type: row-uniqueness
                  params:
                    caseSensitive: true
        description: 'Template hook configuration.

          Key, stage, and type cannot be updated via this endpoint.'
  /v1/templates/{key}/sample-file:
    delete:
      operationId: delete-template-sample-file
      summary: Clear the custom sample file
      description: Remove the custom sample file previously attached to the template. After removal, the
        importer falls back to the sample file that OneSchema auto-generates from the template's columns.
      parameters:
      - name: key
        in: path
        required: true
        description: The key of the template whose sample file should be cleared.
        schema:
          type: string
      responses:
        '200':
          description: 'Successful response. The primary way to verify the request''s success or failure
            is the response status code.

            In a future API version this endpoint may not return any response body at all.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
    get:
      operationId: get-template-sample-file
      summary: Download the template's sample file
      description: Download the template's sample file. If a custom file has been uploaded via `POST /v1/templates/{key}/sample-file`
        it is returned verbatim; otherwise OneSchema generates a sample file on the fly from the template's
        columns.
      parameters:
      - name: key
        in: path
        required: true
        description: The key of the template to download the sample file from.
        schema:
          type: string
      responses:
        '200':
          description: 'Successful response. The response''s `Content-Type` matches the file format: xlsx
            when no custom file has been uploaded (or an xlsx custom file was uploaded), and the corresponding
            MIME type for other allowed extensions (xls, xlsm, xlsb, csv).'
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/BinaryString'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/BinaryString'
            application/vnd.ms-excel.sheet.macroEnabled.12:
              schema:
                $ref: '#/components/schemas/BinaryString'
            application/vnd.ms-excel.sheet.binary.macroEnabled.12:
              schema:
                $ref: '#/components/schemas/BinaryString'
            text/csv:
              schema:
                $ref: '#/components/schemas/BinaryString'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
    post:
      operationId: upload-template-sample-file
      summary: Upload a custom sample file
      description: 'Upload a file to serve as the downloadable sample file shown to end users in the importer''s
        upload pane. When set, this file replaces the sample file that OneSchema otherwise auto-generates
        from the template''s columns. Subject to a 5 MiB file size limit. Accepted extensions: `.xlsx`,
        `.xls`, `.xlsm`, `.xlsb`, `.csv`. Requires `multipart/form-data` with a single `file` field.'
      parameters:
      - name: key
        in: path
        required: true
        description: The key of the template to attach the sample file to.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadTemplateSampleFileResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TemplateSampleFileUploadRequest'
            encoding:
              file:
                contentType: application/octet-stream
  /v1/templates/{key}:
    delete:
      operationId: delete-template
      summary: Delete a template
      description: Delete a template.
      parameters:
      - name: key
        in: path
        required: true
        description: The key of the template to delete.
        schema:
          type: string
      responses:
        '200':
          description: 'Successful response. The primary way to verify the request''s success or failure
            is the response status code.

            In a future API version this endpoint may not return any response body at all.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
    get:
      operationId: export-template
      summary: Export a template as JSON
      description: Export a template as JSON.
      parameters:
      - name: key
        in: path
        required: true
        description: The key of the template to export.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
    put:
      operationId: update-template
      summary: Update a template
      description: Update a template.
      parameters:
      - name: key
        in: path
        required: true
        description: The key of the template to update.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
        description: Template JSON
  /v1/templates:
    get:
      operationId: get-templates
      summary: List templates
      description: Returns a list of templates for the organization. Supports pagination via `offset`
        and `count` parameters.
      parameters:
      - name: offset
        in: query
        required: false
        description: The number of items to skip before starting to collect the result set
        schema:
          type: integer
        explode: false
      - name: count
        in: query
        required: false
        description: The numbers of items to return
        schema:
          type: integer
        explode: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
    post:
      operationId: import-template
      summary: Import a template as JSON
      description: Import a template as JSON.
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportTemplateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTemplateRequest'
        description: Template JSON
  /v1/templates/{key}/environment-push:
    post:
      operationId: push-template-environment
      summary: Push template to environment(s)
      description: Push template to environment(s).
      parameters:
      - name: key
        in: path
        required: true
        description: The key of the template to push.
        schema:
          type: string
      responses:
        '200':
          description: 'Successful response. The primary way to verify the request''s success or failure
            is the response status code.

            In a future API version this endpoint may not return any response body at all.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentPushRequest'
        description: Environment push configuration.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    AddColumnHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - add_column
        stage:
          type: string
          enum:
          - postmapping
        type:
          type: string
          enum:
          - add-column
        params:
          $ref: '#/components/schemas/AddColumnHookParams'
    AddColumnHookParams:
      type: object
      required:
      - column
      properties:
        column:
          type: string
    AdvancedExcelParsingHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - advanced_excel_parsing
        stage:
          type: string
          enum:
          - preparsing
        type:
          type: string
          enum:
          - advanced-excel-parsing
        params:
          $ref: '#/components/schemas/AdvancedExcelParsingHookParams'
    AdvancedExcelParsingHookParams:
      type: object
      required:
      - fileExts
      - ignoreScientificNotation
      - extractHyperlinks
      properties:
        fileExts:
          type: array
          items:
            type: string
        ignoreScientificNotation:
          type: boolean
        extractHyperlinks:
          type: boolean
    CodeHookParams:
      type: object
      required:
      - code
      properties:
        code:
          type: string
    EmptyParams:
      type: object
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
    FillEmptyHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - fill_empty
        stage:
          type: string
          enum:
          - postmapping
        type:
          type: string
          enum:
          - fill-empty
        params:
          $ref: '#/components/schemas/FillEmptyHookParams'
    FillEmptyHookParams:
      type: object
      required:
      - targetColumn
      - sourceColumn
      properties:
        targetColumn:
          type: string
        sourceColumn:
          type: string
    FindAndReplaceHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - find_and_replace
        stage:
          type: string
          enum:
          - postmapping
        type:
          type: string
          enum:
          - find-replace
        params:
          $ref: '#/components/schemas/FindAndReplaceHookParams'
    FindAndReplaceHookParams:
      type: object
      required:
      - columns
      - find
      - caseSensitive
      - exactMatch
      - replace
      properties:
        columns:
          type: array
          items:
            type: string
        find:
          type: string
        caseSensitive:
          type: boolean
        exactMatch:
          type: boolean
        replace:
          type: string
    FixedWidthColumn:
      type: object
      required:
      - label
      - start
      - width
      properties:
        label:
          type: string
        start:
          type: integer
        width:
          type: integer
    FixedWidthToCsvHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - fixed_width_to_csv
        stage:
          type: string
          enum:
          - preparsing
        type:
          type: string
          enum:
          - fixed-width-to-csv
        params:
          $ref: '#/components/schemas/FixedWidthToCsvHookParams'
    FixedWidthToCsvHookParams:
      type: object
      required:
      - fileExts
      - columns
      properties:
        fileExts:
          type: array
          items:
            type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/FixedWidthColumn'
    JsonToCsvHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - json_to_csv
        stage:
          type: string
          enum:
          - preparsing
        type:
          type: string
          enum:
          - json-to-csv
        params:
          $ref: '#/components/schemas/JsonToCsvHookParams'
    JsonToCsvHookParams:
      type: object
      required:
      - fileExts
      - entryPath
      properties:
        fileExts:
          type: array
          items:
            type: string
        entryPath:
          type: array
          items:
            type: string
    MergeColumnsHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - merge_columns
        stage:
          type: string
          enum:
          - postmapping
        type:
          type: string
          enum:
          - merge-column
        params:
          $ref: '#/components/schemas/MergeColumnsHookParams'
    MergeColumnsHookParams:
      type: object
      required:
      - sourceColumns
      - targetColumn
      - delimiter
      properties:
        sourceColumns:
          type: array
          items:
            type: string
        targetColumn:
          type: string
        delimiter:
          type: string
    MultiColumnUniquenessHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - multi_column_uniqueness
        stage:
          type: string
          enum:
          - validation
        type:
          type: string
          enum:
          - multicolumn-uniqueness
        params:
          $ref: '#/components/schemas/MultiColumnUniquenessHookParams'
    MultiColumnUniquenessHookParams:
      type: object
      required:
      - columns
      properties:
        columns:
          type: array
          items:
            type: string
    PostMappingCodeHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - code_post_mapping
        stage:
          type: string
          enum:
          - postmapping
        type:
          type: string
          enum:
          - code-postmapping
        params:
          $ref: '#/components/schemas/PostMappingCodeHookParams'
    PostMappingCodeHookParams:
      type: object
      required:
      - code
      - idempotent
      properties:
        code:
          type: string
        idempotent:
          type: boolean
    PostuploadCodeHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - postupload_code_hook
        stage:
          type: string
          enum:
          - postupload
        type:
          type: string
          enum:
          - code-postupload
        params:
          $ref: '#/components/schemas/CodeHookParams'
    RowUniquenessHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - row_uniqueness
        stage:
          type: string
          enum:
          - validation
        type:
          type: string
          enum:
          - row-uniqueness
        params:
          $ref: '#/components/schemas/RowUniquenessHookParams'
    RowUniquenessHookParams:
      type: object
      required:
      - caseSensitive
      properties:
        caseSensitive:
          type: boolean
          description: Whether the row comparison is case-sensitive.
    SplitColumnHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - split_column
        stage:
          type: string
          enum:
          - postmapping
        type:
          type: string
          enum:
          - split-column
        params:
          $ref: '#/components/schemas/SplitColumnHookParams'
    SplitColumnHookParams:
      type: object
      required:
      - sourceColumn
      - delimiter
      - targetColumns
      properties:
        sourceColumn:
          type: string
        delimiter:
          type: string
        targetColumns:
          type: array
          items:
            type: string
    TemplateHook:
      oneOf:
      - $ref: '#/components/schemas/JsonToCsvHook'
      - $ref: '#/components/schemas/XmlToCsvHook'
      - $ref: '#/components/schemas/FixedWidthToCsvHook'
      - $ref: '#/components/schemas/AdvancedExcelParsingHook'
      - $ref: '#/components/schemas/PostuploadCodeHook'
      - $ref: '#/components/schemas/TransposeFileHook'
      - $ref: '#/components/schemas/FindAndReplaceHook'
      - $ref: '#/components/schemas/SplitColumnHook'
      - $ref: '#/components/schemas/MergeColumnsHook'
      - $ref: '#/components/schemas/FillEmptyHook'
      - $ref: '#/components/schemas/AddColumnHook'
      - $ref: '#/components/schemas/PostMappingCodeHook'
      - $ref: '#/components/schemas/ValidationCodeHook'
      - $ref: '#/components/schemas/MultiColumnUniquenessHook'
      - $ref: '#/components/schemas/RowUniquenessHook'
    TransposeFileHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - transpose_file
        stage:
          type: string
          enum:
          - postupload
        type:
          type: string
          enum:
          - transpose-file
        params:
          $ref: '#/components/schemas/EmptyParams'
    ValidationCodeHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - validation_code_hook
        stage:
          type: string
          enum:
          - validation
        type:
          type: string
          enum:
          - code-validation
        params:
          $ref: '#/components/schemas/ValidationCodeHookParams'
    ValidationCodeHookParams:
      type: object
      properties:
        code:
          type: string
        validationType:
          type: string
          enum:
          - row
          - column
        columns:
          type: array
          items:
            type: string
    XmlToCsvHook:
      type: object
      required:
      - key
      - stage
      - type
      - params
      properties:
        key:
          type: string
          examples:
          - xml_to_csv
        stage:
          type: string
          enum:
          - preparsing
        type:
          type: string
          enum:
          - xml-to-csv
        params:
          $ref: '#/components/schemas/XmlToCsvHookParams'
    XmlToCsvHookParams:
      type: object
      required:
      - fileExts
      - entryPath
      properties:
        fileExts:
          type: array
          items:
            type: string
        entryPath:
          type: array
          items:
            type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
    Template:
      type: object
      required:
      - name
      - template_key
      - columns
      properties:
        name:
          type: string
          examples:
          - template_name
        template_key:
          type: string
          examples:
          - template_key
        description:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/TemplateColumn'
          description: The template columns that define the template schema.
        validation_hooks:
          type: array
          items:
            $ref: '#/components/schemas/ValidationHook'
          description: The webhook definitions for any validation webhooks attached to this template.
        code_hooks:
          type: array
          items:
            type: string
          description: Template hooks attached to the template. Note this format will soon be deprecated
            in favor of the `hooks` field.
        hooks:
          allOf:
          - $ref: '#/components/schemas/TemplateHooksByStage'
          description: Template hooks attached to the template. Note this format will take precedence
            over the `code_hooks` field.
    TemplateColumn:
      type: object
      required:
      - label
      - key
      properties:
        label:
          type: string
          examples:
          - template_column_name
        key:
          type: string
          examples:
          - template_column_key
        data_type:
          type: string
          enum:
          - PICKLIST
          - NUMBER
          - PERCENTAGE
          - DATE_MDY
          - DATE_DMY
          - DATE_ISO
          - DATETIME_ISO
          - DATETIME_MDYHM
          - DATETIME_DMYHM
          - DATE_YMD
          - DATE_DMMMY
          - TIME_HHMM
          - UNIX_TIMESTAMP
          - URL
          - DOMAIN
          - FULL_NAME
          - EMAIL
          - UNIT_OF_MEASURE
          - CURRENCY_CODE
          - PHONE_NUMBER
          - US_PHONE_NUMBER_EXT
          - MONEY
          - IANA_TIMEZONE
          - CUSTOM_REGEX
          - ALPHABETICAL
          - TEXT
          - SSN_MASKED
          - SSN_UNMASKED
          - FILE_NAME
          - UUID
          - JSON
          - BOOLEAN
          - UPC_A
          - EAN
          - IMEI
          - ENUM_US_STATE_TERRITORY
          - ENUM_COUNTRY
          description: Validation type to check all values in the column.
        description:
          type: string
          description: A free-form description of this template column.
        must_exist:
          type: boolean
          description: Validation to check if a template column does not exist in the spreadsheet.
          default: false
        is_required:
          type: boolean
          description: Validation to check that a column has no empty values.
          default: false
        is_unique:
          type: boolean
          description: Validation to check that a column has no duplicate values.
          default: false
        is_custom:
          type: boolean
          description: Specification for whether the template column is a custom column. Custom Columns
            can be mapped multiple times and will retain the initial sheet header on import (as opposed
            to being replaced with the template column name).
          default: false
        is_locked:
          type: boolean
          description: Users will not be able to edit data mapped to this column on the Review & finalize
            step.
          default: false
        is_multi_mappable:
          type: boolean
          description: Users will be able to map multiple columns to this template column.
          default: false
        is_hidden:
          type: boolean
          description: This column will be hidden in the Review & finalize step.
          default: false
        is_unmappable:
          type: boolean
          description: Users will not be able to map to this column.
          default: false
        validation_options:
          type: object
          description: Configuration options specific to the data type. Possible options include an array
            of picklist options or a format for ENUM_COUNTRY or ENUM_US_STATE_TERRITORY.
        letter_case:
          type: string
          enum:
          - LETTER_CASE_TITLE
          - LETTER_CASE_UPPER
          - LETTER_CASE_LOWER
          description: Validation to check that a value is upper, lower, or proper cased.
        min_char_limit:
          type: integer
          description: Validation to check that the number of characters is at least min_char_limit.
        max_char_limit:
          type: integer
          description: Validation to check that the number of characters does not exceed max_char_limit.
        delimiter:
          type: string
          description: Column configuration to tell the system that there are multiple values per cell
            separated by the given delimiter. Example delimiters are semicolon, comma, etc.
        default_value:
          type: string
          description: A default value if uploaded values in the column are empty.
        mapping_hints:
          type: array
          items:
            type: string
          description: Array of sheet column names to automatically map this column to.
    TemplateHookSummary:
      type: object
      required:
      - key
      - type
      properties:
        key:
          type: string
          examples:
          - hook_key
        type:
          type: string
          examples:
          - code-postmapping
    TemplateHooksByStage:
      type: object
      properties:
        preparsing:
          type: array
          items:
            $ref: '#/components/schemas/TemplateHookSummary'
        postupload:
          type: array
          items:
            $ref: '#/components/schemas/TemplateHookSummary'
        postmapping:
          type: array
          items:
            $ref: '#/components/schemas/TemplateHookSummary'
        validation:
          type: array
          items:
            $ref: '#/components/schemas/TemplateHookSummary'
    ValidationHook:
      type: object
      required:
      - name
      - url
      properties:
        name:
          type: string
          examples:
          - validation_hook_name
        url:
          type: string
          description: The endpoint for the validation hook.
          examples:
          - https://example.com
        secret_key:
          type: string
          description: An optional secret for authenticating the validation hook.
        column_keys:
          type: array
          items:
            type: string
          description: The keys for the columns that are being validated by the validation hook.
          default: []
        custom_column_keys:
          type: array
          items:
            type: string
          description: The keys for the custom columns that are being validated by the validation hook.
          default: []
        include_unmapped:
          type: boolean
          description: Include columns that were not mapped to the template.
          default: false
        hook_type:
          type: string
          enum:
          - row
          - column
          description: Whether to send the data by row or by column. See [docs](https://docs.oneschema.co/docs/validation-webhook)
            for more information on hook type.
          default: row
        batch_size:
          type: integer
          description: The number of rows of data to include in each call; only applicable for validation
            webhooks with a `row` hook_type.
          default: 1000
    TemplateHooksListResponse:
      type: object
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/TemplateHook'
        total_count:
          type: integer
    BinaryString:
      type: string
      format: binary
    TemplatesListResponse:
      type: object
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/Template'
    ImportTemplateResponse:
      type: object
      properties:
        id:
          type: number
    PostTemplateRequest:
      type: object
      properties:
        push_to_environments:
          type: array
          items:
            type: string
          description: Optional array of environment names that the template is pushed to. If this param
            is not set, the template will be pushed to all environments by default.
      allOf:
      - $ref: '#/components/schemas/Template'
    EnvironmentPushRequest:
      type: object
      required:
      - environments
      properties:
        environments:
          type: array
          items:
            type: string
          description: Pushing to `Production` will trigger a push to all other environments.
    TemplateSampleFileUploadRequest:
      type: object
      properties:
        file:
          description: The file that end users will download when the `includeExcelTemplate` importer
            customization is enabled. Must be one of `.xlsx`, `.xls`, `.xlsm`, `.xlsb`, `.csv` and at
            most 5 MiB.
          format: binary
          type: string
      required:
      - file
    UploadTemplateSampleFileResponse:
      type: object
      properties:
        template_key:
          type: string
          description: The key of the template the file was attached to.
        sample_file_name:
          type: string
          description: The original filename of the uploaded file.
